html {
  box-sizing: border-box;
  background-color: #f3f3f3;
  color: #262322;
}

nav {
  display: flex;
  height: 5vh;
  width: 100vw;
}

nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 68vw;
}

nav ul li {
  list-style: none;
  padding: 1vh 3vw;
  font-size: 24px;
  height: 100%;
}

nav a {
  color: #262322;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#landing-text {
  flex-grow: 1;
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
